body{
	background-repeat:no-repeat;
	background-position:center;
	background-size:1500px 860px;
	background-attachment: fixed;
	}
.nav-padded{
	padding: 100px 25px;
}
table.center-align, th, td{
	text-align: center !important;
	vertical-align: middle !important;
}
social, a.social:hover{
	color: #0B62A4 !important;
}
.navbar{
	color: #FFF !important;
	background-color: #000 !important;
}
.white, a{
	color: #AEB0B3 !important;
}
.white:hover, a:hover{
	color: #FFCE44 !important;
}
.logo-white{
	color: #000 !important;
}
.logo-white:hover{
	color: #FFCE44 !important;
}
.btn-white{
	color:#FFF !important;
	background-color:#000 !important;
}
.btn-white:hover{
	background-color:#FFCE44 !important;
}
.logo{
	padding-top: 2px !important;
}
.logo-medium{
	font-size:72px !important;
}
.logo-small{
	font-size:28px !important;
}
.login-img{
	width:30px !important;
	height:30px !important;
}
#image{
	 height: 192px !important;
	 width: 192px !important;
}
.fileupload {
    position: relative;
    overflow: hidden;
     
}
.fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0.0;
    filter: alpha(opacity=0);
    -o-transform: translate(250px, -50px) scale(1);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
    font-size:100px;
}